<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.stokle.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PopMoviesActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopMoviesDetailActivity"
            android:label="@string/title_activity_pop_movies_detail"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.stokle.popularmovies.PopMoviesActivity" />
        </activity>
        <activity android:name=".PopMoviesSettingsActivity"
            android:label="@string/pref_header_general">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PopMoviesActivity"/>
        </activity>
    </application>
</manifest>